table{
    width: 100%;
    table-layout: fixed;
}

tr:nth-child(even){background-color: #DEEFFF}
tr:nth-child(odd){background-color: #CBE4FB}

th{
    background-color: #A9D0F3;
    padding: 20px 15px;

    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 50px;
    text-align: center;

    color: #000000;

    cursor: default;
}

td{
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 550;
    font-size: 32px;
    line-height: 50px;
    text-align: center;

    color: #000000;

    cursor: pointer;
}

td:last-child, th:last-child{
    border-left: 2px solid;
}

td.selected{
    background-color: red;
}

.tbl-log{
    height: 300px;
    overflow: auto;
    margin-top: 0px;

    font-family: 'Open Sans';
    font-style: normal;
    font-size: 36px;
    line-height: 49px;
    text-align: center;

    color: #000000;
}

