@import url('https://fonts.googleapis.com/css?family=Open+Sans');

*{
  background: #D9898C;
  color: #FFFFFF;
  margin-top: 0px;
  margin-bottom: 0px;
}

body{
  font-family: "Open Sans", sans-serif;
}

h1{
  font-size: 64;
  font-weight: 800;
  font-size: 64px;
  line-height: 87px;
  margin-top: 18%;
  margin-bottom: 30px;
}

p{
  font-weight: 400;
  font-size: 30px;
  line-height: 54px;
  margin-bottom: 30px;
}

input[type= text]{
  min-width: 625px;
  background-color: #EFEFEF;
  border: none;
  border-radius: 8px;
  padding: 15px 20px;
  font-size: 40px;
  color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  margin-bottom: 30px;
}

input[type= text]:hover{
  background-color: #e1dfdf;  
  cursor: text;
}

button{
  background-color: #DEEFFF;
  border: none;
  border-radius: 25px;
  padding: 8px 25px;
  font-size: 25px;
  font-weight: 400;
  line-height: 54px;
  color: #0D2C7B;
  cursor: pointer;
  margin-bottom: 30px;
  margin-right: 50px;
  transition: 15ms;
}

button:hover{
  background: #b1c1de;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* confirmation page buttons */

#restart{
  position: absolute;
  width: 248px;
  height: 91px;
  left: 187px;
  top: 816px;
}

#confirm{
  position: absolute;
  width: 248px;
  height: 91px;
  left: 1293px;
  top: 816px;
}
