<html>
  <head>
    <title>Admin Sign In</title>
    <link rel="stylesheet" href="../css/admin.css" />
  </head>
  <body>
    <h1 class="center">Sign In</h1>

    <div class="center">
      <form action="/admin/logs" method="post">
        <input type="text" name="password" placeholder="Access Password" />
    </div>
    
    <div class="center">
        <button>Enter</button>
      </form>
      <form action="/admin/home" method="post">
        <button>Back</button>
      </form>
    </div>

  </body>
</html>
