<html>
  <head>
    <title>Current Instruments Signed Out</title>
    <link rel="stylesheet" href="../css/log.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  </head>

  <body>
    <div>
      <table class="topnav">
        <tr>
          <td class="nav">
            <a href="/home"><i class="material-icons">home</i></a>
          </td>
          <td style="width:20%;text-align: left; padding-left: 10px;">
            <input name="search_word" placeholder="Search">
          </td>
          <td class="nav">
            <a href="students">Students</a>
          </td>
          <td class="nav">
            <a href="instruments">Instruments</a>
          </td>
          <td class="nav">
            <a href="signout">Sign Out</a>
          </td>
          <td class="nav">
            <a href="currentsignout">Not Returned</a>
          </td>
          <td style="width:10%"></td>
          <td>
            <button id="addaction" class="add">Add</button>
            <form action="/currentsignout/delete" method="post">
              <button type="submit" id="del" class="minus">Del</button>
            </form>
          </td>
        </tr>
      </table>
    </div>
    
    <!-- Add instrument modal -->
    <div id="addmodal" class="modal">
      <div class="add-modal-content" >
        <h1>Add a signout log</h1>
        <input placeholder="Student">
        <br>
        <input placeholder="Student ID">
        <br>
        <input placeholder="Instrument">
        <br>
        <input placeholder="Barcode Number">
        <br>
        <input placeholder="Sign Out Date">
        <br>
        <input placeholder="Return Date">
        <br>
        <button class="close">Cancel</button>
        <form action="/currentsignout/create" method="post">
          <button type="submit" id="add" class="navBtn--blue">Confirm</button>
        </form>
      </div> 
    </div>

    <table class="tbl-content" cellpadding="0" cellspacing="0" border="0">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Name</th>
                <th scope="col">Instrument</th>
                <th scope="col">Signed Out</th>
            </tr>
        </thead>
        <tbody>
            <% if(data.length > 0){
            for(var i = 0; i< data.length; i++) {%>
            <tr>
                <th scope="row"><%= (i+1) %></th>
                <td><%= data[i].StudentName%></td>
                <td><%= data[i].Instrument%></td>
                <td><%= data[i].SignOutDate%></td>
            </tr>
            <% }
            }else{ %>
            <tr>
                <td colspan="5">There are no signed out instruments right now.</td>
            </tr>
            <% } %>
        </tbody>
    </table>
    <script src="../modal.js"></script>
  </body>
</html>