<html>
  <head>
    <title>Login</title>
    <link rel="stylesheet" href="./css/style.css">
  </head>
  <body>
    <h1 class="center">Sign In</h1>

    <form action="/form" method="post">
    <div class="center">
      <input type="text" name="name" placeholder="Full Name">
    </div>
        
    <div class="center">
      <input type="text" name="id" placeholder="Student Number">
    </div>
    
    <p class="center">(type or barcode scan student card)</p>

    <div class="center">
        <button>Enter</button>
      </form>
      <form action="/admin" method="post">
        <button>Admin?</button>
      </form>
    </div>
  </body>
</html>