<html>
  <head>
    <title>Confirmation</title>
    <link rel="stylesheet" href="../css/style.css" />
  </head>

  <body>
    <h1 class="center"><%=name%> signed out a <%=instrument%> on <%=date%></h1>

    <form action="/confirm/restart" method="post">
      <button id="restart">Restart</button>
    </form>
    <form action="/confirm/confirm" method="post">
      <button id="confirm">Confirm</button>
    </form>
  </body>
</html>
