<html>
  <head>
    <title>Student Log</title>
    <link rel="stylesheet" href="../css/log.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  </head>

  <body>
    <div>
      <table class="topnav">
        <tr>
          <td class="nav">
            <a href="/"><i class="material-icons">home</i></a>
          </td>
          <td style="width:20%;text-align: left; padding-left: 10px;">
            <input name="search_word" placeholder="Search">
          </td>
          <td class="nav">
            <a href="/logs/students">Students</a>
          </td>
          <td class="nav">
            <a href="/logs/instruments">Instruments</a>
          </td>
          <td class="nav">
            <a href="/logs">Full</a>
          </td>
          <td class="nav">
            <a href="/logs/signout">Sign Out</a>
          </td>
          <td class="nav">
            <a href="/logs/currentsignout">Not Returned</a>
          </td>
          <td style="width:10%"></td>
          <td>
            <button id="addaction" class="add">Add</button>
            <form action="/logs/students/delete" method="post">
              <button type="submit" id="del" class="minus">Del</button>
            </form>
          </td>
        </tr>
      </table>
    </div>
    
    <!-- Add instrument modal -->
    <div id="addmodal" class="modal">
      <div class="add-modal-content" >
        <h1>Add a student</h1>
        <form action="/logs/students/create" method="post">
          <input name="name" placeholder="Student">
          <br>
          <input name="id" placeholder="Student ID">
          <br>
          <button form="dummy" class="close">Cancel</button>
          <button type="submit" id="add" class="navBtn--blue">Confirm</button>
        </form>
      </div> 
    </div>

    <table class="tbl-content" cellpadding="0" cellspacing="0" border="0">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Name</th>
                <th scope="col">ID</th>
            </tr>
        </thead>
        <tbody>
            <% if(data.length > 0){
            for(var i = 0; i< data.length; i++) {%>
            <tr>
                <th scope="row"><%= (i+1) %></th>
                <td><%= data[i].StudentName%></td>
                <td><%= data[i].StudentID%></td>
            </tr>
            <% }
            }else{ %>
            <tr>
                <td colspan="5">There are no students right now.</td>
            </tr>
            <% } %>
        </tbody>
    </table>
    <script src="../modal.js"></script>
  </body>
</html>