form {
    display:inline;
    margin:0px;
    padding:0px;
}

h1{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 49px;
    text-align: center;
}

input[type= text]{
    min-width: 339px;
    background-color: #FFFFFF;
    border: 3px solid #8A8A8A;
    padding: 15px 20px;
    font-size: 30px;
    color: #B4B4B4;
    cursor: pointer;
    margin-bottom: 30px;
    line-height: 41px;
    display: flex;
    align-items: center;
}

input[type= text]:hover{
    background-color: #e1dfdf;  
    cursor: text;
}

table{
    width: 100%;
    table-layout: fixed;
}

th{
    background-color: #A9D0F3;
    padding: 20px 15px;

    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 50px;
    text-align: center;

    width: 20%;

    color: #000000;

    cursor: default;
}

tr:nth-child(even){background-color: #DEEFFF}
tr:nth-child(odd){background-color: #CBE4FB}

td{
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 549;
    font-size: 36px;
    line-height: 60px;
    text-align: center;
    width: 20%;

    color: #000000;
}

td:last-child {
    border-left: 2px solid;
}

th:nth-child(1){
    width: 10%;
}

th:nth-child(2){
    width: 30%;
}

td.selected{
    background-color: red;
}

.tbl-content{
    height: 300px;
    overflow: auto;
    margin-top: 0px;

    font-family: 'Open Sans';
    font-style: normal;
    font-size: 36px;
    line-height: 49px;
    text-align: center;

    color: #000000;
}

.tbl-content td{
    border-left: 2px solid;
}

 /*navigation bar*/
.topnav {
    background-color: #255582;
    width:100%;

    border: 1px solid black;

}

.topnav table {
    background-color: #255582;
    border-width:0px;
    cellspacing:0px;
}



.topnav td {
    background-color: #255582;
    width: 30%;
    /* line-height: 24px; */
}

.topnav td:nth-child(1){
    width: 20%;
}

.topnav a {
    color: white;
    font-size: 24px;
    cursor:pointer;
}

.topnav a:active {
    color: yellow;
}

.topnav input {
    height:24px;
    width: 100%;
    border-radius: 20px;
    text-indent: 10px;

}

.topnav td:last-child{
    border-left: 0px solid;

}

.topnav button{
    border-radius: 10px;
    border: none;
    font-size: 20px;
    color: #FFEAEA;
    width: 68px;

    cursor: pointer;
}

.add{
    background-color: #44A65A;
}
.add:active {
    background-color: #4a9059;
}

.minus{
    background-color: #DE6666;
}
.minus:active{
    background-color: #a75a5a;
}

/*Instrument Adding Modal*/
.modal {
    display: none; /* Hidden by default */
    position: fixed; 
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.2); 
}
  
.add-modal-content {
    background-color: #ECF7FF; 
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 7px solid #434343;
    border-radius: 9px;
    width: 30%;
    /* height: 30%; */
}

.add-modal-content input{
    min-width: 339px;
    background-color: #FFFFFF;
    border: 1px solid #8A8A8A;
    padding: 8px 5px;
    font-size: 20px;
    color: #B4B4B4;
    margin-bottom: 10px;
    line-height: 20px;
    display: flex;
    align-items: center;
    margin: auto;
    display: block;
}

.add-modal-content input:hover{
    background-color: #efefef; 
    color: #000000; 
    cursor: text;
}

.add-modal-content button{
    background: #CCCCCC;
    border-radius: 10px;
    border: none;
    width: 150px;
    font-size: 20px;
    line-height: 49px;
    text-align: center;
    color: #000000;
}

.delete {
    display: none; /* Hidden by default */
    border-radius: 10px;
    border: none;
    font-size: 36px;
    color: white;
    background: #DE6666;
    width: 46px;
}

.delete:hover {
    cursor: pointer;
}